body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.btn-group button {
    width: 80%;
    margin: 10px;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-group button:hover {
    background: #0056b3;
}

form {
    text-align: left;
}

label {
    font-size: 14px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #1f7a33;
}
.itemList label {
    display: block;
    margin: 8px 0;
}

.item {
    margin-bottom: 15px;
    text-align: left;
}

.item input[type="number"] {
    width: 40%;
    padding: 6px;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
